<h1>Sign Up</h1>

  <%= form_with model: @user, :html => {:class => "form"}, url: sign_up_path do |f| %>
  <div class="form-group">
      <%= f.label 'username' %><br>
      <%= f.text_field :username %>
      </div>
    <div class="form-group">
    <%= f.label 'email' %><br>
    <%= f.text_field :email %>
    </div>
    <div class="form-group">
    <%= f.label 'password' %><br>
    <%= f.password_field :password %>
    </div>
    <div class="form-group">
    <%= f.label 'password_confirmation' %><br>
    <%= f.password_field :password_confirmation %>
    </div>
    <div class="form-group">
    <%= f.submit 'Sign Up' %>
    </div>
  <% end %>
  <%= link_to 'Log in', sign_in_path %>