<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/users">Users</a>

      <% if Current.user %>
          <a class="nav-item nav-link" href="/posts/new">New</a>
          <%= link_to 'Edit Password', edit_password_path %>
          Logged in as: <%= Current.user.username %><br>
          <%= button_to 'Logout', logout_path, method: :delete %>

          <% else %>
          <%= link_to 'Sign Up', sign_up_path %>
          or
          <%= link_to 'Login', sign_in_path %>
      <% end %>
    </div>
  </div>
</nav>