<h3>create a new post</h3>

<% if Current.user %>
<%= form_with model: @post, :html => {:class => "form"}, url: new_post_path do |f| %>
	<div class="form-group">
			<%= f.text_area :post_content %>


			<%= f.label :images %>
			<%= f.file_field :images, direct_upload: true, multiple: true, class: 'form-control' %>

		</div>
		<div class="form-group">
		<%= f.submit 'submit' %>
		</div>
	<% end %>
	<% else %>
	<div class="alert alert-info" role="alert">
    Please sign in before you create a post
  </div>
<% end %>

<%= link_to 'back', posts_path %>
